<section class="map" id="menu-contact">
  <a class="back-btn" href="#">Back to Form</a>
  <div id="map-canvas">&nbsp;</div>
  <div class="map-overlay">					
    <div class="page page-mini">
      <div class="contact-form clearfix">
        <div class="contact-info">
          <img src="./assets/img/Contacts-icon.png" alt="" class="svg contact" />
          <div class="address">
            <span>ICT Incubator</span>
            <span>Fayez Mansout st. Mazzeh,</span>
            <span>Damascus, Syria</span>
          </div>
          <div class="btnwrap map-view"><a href="#" class="formbtn">View Map</a></div>	
        </div>
        <div class="contact-us">
          <form>
            <div class="row"><input type="text" placeholder="Enter your email" class="formcontrol" /></div>
            <div class="row"><textarea placeholder="Type your message" class="formcontrol"></textarea></div>
            <div class="row none"><input type="submit" value="Send Message" class="formbtn" /></div>								
          </form>
        </div>
      </div>
    </div> 
  </div>
          
</section>