<section id="menu-event-detail" class="welcome covered-white">
  <div class="page page-sm">
    <div class="welcome-inner clearfix">
      <div class="row">
                      <div class="col-sm-4">
                          <div id="ProfileInfo">
                              <div id="ProfilePic">
                                  <img src="assets/img/profile.jpg">
                              </div>
                              <div id="ProfileName">
                                  <h1>Jalal Al-Din</h1>
                                  <h2><img src="assets/img/pin.png">Muhajreen - Damascus</h2>
                              </div>
                              <div id="interactive">
                                  <ul>
                                      <li><a href="#" ><img src="assets/img/add.png"></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="form-style-5">                                
                                
                                <div id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="card">
                                          <div class="card-header" role="tab" id="headingTwo">
                                            <h3 class="mb-0">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Jalal's Friend list
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-block">
                                                <ul>
                                                        <li><a href="#" >Ahmad Shaleesh</a></li>
                                                        <li><a href="#" >Beshr Gh</a></li>
                                                        <li><a href="#" >Firas Habri</a></li>
                                                        <li><a href="#" >Obay Daba</a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" role="tab" id="headingThree">
                                            <h3 class="mb-0">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Jalal's past events
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-block">
                                                <ul>
                                                    <li><a href="#" >Programming Workshop 2</a></li>
                                                    <li><a href="#" >Final footbal league</a></li>
                                                    <li><a href="#" >Mid-final football league</a></li>
                                                    <li><a href="#" >Book store event</a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              
                          </div>
                          <hr class="style8">
                      </div>
                      <div class="col-sm-8">
                          <h4>Jalal's past events : </h4>
                          <img src="assets/img/google-maps.jpg">
                          <div id="cont" class="container">
                              <ul>
                                  <li><img src="assets/img/create.png"><h4>5 events created</h4></li>
                                  <li><img src="assets/img/join.png"><h4>16 events joined</h4></li>
                              </ul>
                              <ul>
                                  <li><img src="assets/img/credit.png"><h4>45 credit</h4></li>
                                  <li><img src="assets/img/friends.png"><h4>55 friends</h4></li>
                              </ul>
                          </div>
                      </div>
                    </div>
    </div>
    <!-- End Welcome-inner Section -->					
  </div>
</section>
          
          <!-- End Intro Section -->