<div class="welcome-inner clearfix">
    <div class="welcome-text">
      <h2>Welcome!</h2>
      <p>The biggest envato community meetup in Damascus is happening right now! And you can be a part of it too...</p>
      <p>Get together with members of the Envato community to talk shop, trade war stories, make new friends and see the faces behind the avatars. Whether you’re an author on Envato Market, a client on Envato Studio, or a learner on Tuts+, you are invited!</p>
      <p>It doesn’t matter as long as you have the motivation and interest to work at the envato and bring cookies to our event. Just kidding, but we don’t mind having more cookies! ;) Head over and fill up the sign up form here so that we can keep track of our guests. Don’t forget to register on our <a href="#">nvite</a> page here too!</p>
    </div>
    <!-- End Welcome-text Section -->
    <div class="register-box animated slideInUp">
      <form>
        <h3>Sign up for our event</h3>
        <div class="row"><input type="text" placeholder="Enter your name" class="formcontrol" /></div>
        <div class="row"><input type="text" placeholder="Enter your email" class="formcontrol" /></div>
        <div class="row"><input type="text" placeholder="Phone number" class="formcontrol" /></div>
        <div class="row"><input type="submit" value="Let me in!" class="formbtn" /></div>
        <div class="note">
          <span>Hurry up, Limited seats availble</span>
          <span>*we will never spam your email</span>
        </div>
      </form>
    </div>
    <!-- End Register-box Section -->
  </div>