<section id="menu-event-detail" class="welcome covered-white">
  <div class="page page-sm">
<div class="card card-container">
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        <input type="text" id="inputEmail" class="form-control" placeholder="Event Name" >
        <input type="text" id="inputEmail" class="form-control" placeholder="Event location" >
        <input type="date" id="inputEmail" class="form-control" placeholder="Event Date" >
        <input type="text" id="inputEmail" class="form-control" placeholder="Event Specification" >
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create</button>
    </form><!-- /form -->
</div><!-- /card-container -->
<style>
  .card{
      margin-top: 10px;
  }
</style>
</div>
</section>