
<section class="reward-section covered-white parallax-box parallax">
  <span class="top-border"></span>
  <span class="bottom-border"></span>
  <div class="page page-sm">
    <span class="elite-badge">&nbsp;</span>
    <div class="elite-content">
      <h2>Discover the Best out of Syria</h2>
      <p>Are you an Elite author in the Envato Marketplaces? If so we are proud of you! We want to give our thanks in achieving great success in the marketplace and we want to make known to the people of our country that you are amazing! Our Elite gifting program includes giving you special merchandize from our community and also promote your works in our community.</p>
      <p>All you have to do is contact us by clicking the button here and then its just going to the event, saying something motivational and taking that swag while looking amazing infront of thousands of other community members.</p>
      <p><span>*Be advised, we will only give you Elite thank you swag for each level of elite you cross.</span>That means if you do not cross to the next elite level before the next event, you cannot claim your prizes.</p>
      <a href="#" class="custom-btn">Bring on the swag!</a>
    </div>
  </div>				
</section>
  <!-- End Reward Section -->
  
  <section id="menu-past-events" class="past-event covered-white">
    <div class="page">
      <div class="past-event-top">
        <h2>Past Events</h2>
        <p>Check out the photos of our previous events where we rocked with a lot of Famous and enthusiatic authors! We’re always planning to make our future events feel fresh and fun to be at. :)</p>
      </div>	
      <div class="event-wrap gallery">
        <div class="past-event-row clearfix">
          <div class="past-event-col primary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event1.jpg"><img src="assets/images/event1.jpg" alt="" /></a></div>
          <div class="past-event-col secondary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event2.jpg"><img src="assets/images/event2.jpg" alt="" /></a></div>
        </div>
      <div class="past-event-row clearfix">
        <div class="past-event-col alt-row secondary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event3.jpg"><img src="assets/images/event3.jpg" alt="" /></a></div>
        <div class="past-event-col alt-row primary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event4.jpg"><img src="assets/images/event4.jpg" alt="" /></a></div>
      </div>
      <div class="more-event-toggle-section">
        <div class="past-event-row clearfix">
          <div class="past-event-col primary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event1.jpg"><img src="assets/images/event1.jpg" alt="" /></a></div>
          <div class="past-event-col secondary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event2.jpg"><img src="assets/images/event2.jpg" alt="" /></a></div>
        </div>
      <div class="past-event-row clearfix">
        <div class="past-event-col alt-row secondary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event3.jpg"><img src="assets/images/event3.jpg" alt="" /></a></div>
        <div class="past-event-col alt-row primary"><a class="fancybox-buttons" data-fancybox-group="button" href="assets/images/event4.jpg"><img src="assets/images/event4.jpg" alt="" /></a></div>
      </div>
      </div>	
      </div>	
  <div class="btnwrap"><a href="javascript:void(0);" class="custom-btn btngray more-event-btn">View More</a></div>						
  </div>
  </section>
  <!-- End Past-event Section -->
  
  <section id="menu-sponsors" class="sponsor covered-white parallax-box parallax">
  <span class="top-border"></span>
  <span class="bottom-border"></span>					
  <div class="page page-micro sponsor-inner">
  <h2>Sponsor Our Event!</h2>
  <p>If you want to help us making this event lively and successful, help us by sponsoring our event! This will help us bring in more people, have better livestreaming equipment, maybe even our own chef! You can also sponsor us by giving away free swag at the event!</p>
  <p>Here’s who have sponsored us already:</p>
  <ul>
    <li><img src="./assets/images/sponsor1.png" alt="" /></li>
    <li><img src="./assets/images/sponsor2.png" alt="" /></li>
    <li><img src="./assets/images/sponsor3.png" alt="" /></li>
  </ul>
  <a href="#" class="custom-btn">Sponsor Us</a>
  </div>
  </section>
  <!-- End Sponsor Section -->
  